# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../HackRankJava\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\tuto\HackRankJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
